#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}
/* 
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 70%;

  padding-bottom: 2rem;
  padding-top: 1rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 45%;
  height: 45%;
}

.swiper-slide img {
 display: block;
  width: 100%;
}
