.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 2.2rem 0;

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            gap: 3.25rem;

            li {
                list-style: none;
                color: #c4c4c4c4;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

}