@import "../../index.scss";

.home {
    display: flex;
    width: 100%;
  
    justify-content: center;
    align-items: center;
    padding: 0 18%;
  
    &__info {
        display: flex;
        flex-direction: column;

        .name{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            h1{
                display: flex;
                font-size: 60px;
            }

        }

        .buttonsWorks{
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 3rem;
            gap: 13%;

            .hello{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem 1.5rem;
                border-radius: 16px;
                background-color: #6244c5;
                font-weight: 700;
                color: #fdfdfd;
                font-family: $font-family-extra;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 1px;
                border: none;
            }

            .works{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                color: #fdfdfd;
                border: none;
                font-family: $font-family-extra;
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 1px;
            }
        }
        .buttonsFollow{
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 2rem 0;
        }

        h1 {
            font-family: $font-family-extra;
            font-size: 4.063rem;
            letter-spacing: 2px;
            color: #fff;
        }

        &__rol {
            display: flex;
            align-items: center;

            span {
                display: flex;
                padding-right: 5rem;
                border-top: 2px solid #fff;
                margin-right: 3rem;
            }

            h3 {
                color: #fff;
                font-size: 20px;
                font-family: $font-family;
                font-weight: 500;
            }
        }

        &__description {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #c4c4c4;
                font-size: 15px;
                font-family: $font-family;
            }
        }
    }

    &__imagen {

        display: flex;
        flex-direction: column;

        .fotoPerfil {
            display: flex;
            img{
                display: flex;
                width: 62.2vh;
              
                object-fit: contain;
                
                
            }
            
        }

        .logoVideo {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 150px;
            height: 150px;
            border-radius: 100px;
            position: absolute;
            top: 70%;
            right: 14%;
            
            img{
                width: 200px;
            
                object-fit: fill;
                object-fit: cover;
                animation: rotacion 170s linear infinite;
                @keyframes rotacion {
                    from {
                        transform: rotate(3600deg);
                    }
    
                    to {
                        transform: rotate(0deg);
                    }
                }
            }

            
        }

        .buttonVideo{
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            width: 2rem;
            position: absolute;
            color: #c4c4c4;
            font-size: 3rem;
        }


    }
}