@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Kaushan+Script&family=Oswald:wght@200..700&display=swap');

// Colores
$darkreader-neutral-background: #212222;
$darkreader-neutral-text: #eae3d9;
$darkreader-selection-background: #165aaa;
$darkreader-selection-text: #fbf5ec;
$main-color: #252439;

// Tipografia
$font-family: "Inter", sans-serif;
$font-family-extra: "DM Sans", sans-serif;
$font-family-oswald: "Oswald", sans-serif;
$font-family-kaushan: "Kaushan Script", cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    background-color: $main-color;
    
}


html {
    --cursor-color: #ffc54883;
    --cursor-color2: #ffc548f4;

    
}


html.dark-mode {
    --cursor-color: #fff
}

